.productCard{
    display: flex;
    width: 100%;
    justify-content: center;
   padding: 20px;
   background-color: aliceblue;
}
.productCard>.insideCard{

    width: 20%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: .2 solid white!important;
}
.productCard>.insideCard>.image{
    width: 250px;
    margin:20px;
}
.cardTitle{
    font-size: 15px;
}

.ProductCard{
    width: 100%;;
   background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 10px;
}
.ProductCard>button{
    width: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    border: .5px solid #fff;
    color: #807c7c;
    outline: none;
    
    background-color: #fff;
}
.ProductCard>.ProducardCardMiddle{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
   
    
}

 .ProductCard>.ProducardCardMiddle>.ProductCardInside{
    width: 25%;
    margin: 10px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    transition: .5s ease all;
    cursor: pointer;
    
} 
.ProductCard>.ProducardCardMiddle>.ProductCardInside>.textContent{
    width: 100%;
    /* padding: px; */
    /* background-color: rebeccapurple; */
}
.ProductCard>.ProducardCardMiddle>.ProductCardInside:hover img{
   transform:scale(1.1);
   transition: .5s ease all;
}
.ProductCardInside>.ProductsImg{
    width: 100%;
    padding: 10px;
    margin: 5px;
    transition: .5s ease all;
}
.ProductCard>.ProducardCardMiddle>.ProductCardInside>.ProductsImg>img{
    width: 50%;
}
