@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* font-weight: 100; */
    font-style: normal;
}
::selection {
    background-color: orange;
    color: #fff;
}
.section{
    background-color: #f1f3f6;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.section>.middle{
    width: 90%;
    display: flex;
    justify-content: space-between;
  

}
.section>.middle>.left{
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.address{
    width: 68%;
    margin: 5px;
    padding: 15px;
    background-color: #fff;
    display: flex;
    justify-content:center;
    border-radius: 5px;

}
.address>.addreInput{
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 5px;
}
.address>.addreInput>input{
    width: 48%;
    margin: 3px;
    border-radius: 5px;
    padding: 5px;
    height: 60px;
    border:.5px solid lightgray;
    outline: none;
}
.address>.addreInput>input::placeholder{
    /* color: #5b5b5b; */
  
    padding-left: 10px;
}

.address>.addreInput>.typebutton{
    background-color: rgb(255, 123, 0);
    border: 3px dotted #fff;
    width: 24%;
    color: #fff;
}
.address>.addressButtons{
    width: 30%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address>.addressButtons>button{
    width: 120px;
    border: .5px solid orange;
    color: #fff;
    letter-spacing: .5px;
    border-radius: 5px;
    background-color:orange;
    outline: none;
    padding: 5px;
}
.section>.middle>.left>.leftSide{
    width: 100%;
    margin: 5px;
    padding: 15px;
    background-color: #fff;
    display: flex;
    justify-content:safe;
    border-radius: 5px;
}
.section>.middle>.left>.leftSide>.cartImg{
    width: 20%;
    height: 120px;
    text-align: center;
}
.section>.middle>.left>.leftSide>.cartImg>img{
    width: 100%;
    object-fit: contain;
    height: 100%;
}
.section>.middle>.left>.leftSide>.cartDetails{
   width: 70%;
   /* font-size: 20px; */
}
.section>.middle>.left>.leftSide>.cartDetails>button{
    width: 30px;
    border: .5px solid lightgray;
    margin-top: 10px;
    margin-right: 5px;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
}
.section>.middle>.left>.leftSide>.cartDetails>.plus{
 margin-left: 5px;
}
.section>.middle>.left>.leftSide>.cartDetails>.inc{
    padding: 3px;
    display: inline-block;
    width: 30px;
    text-align: center;
    background-color: rgb(237, 235, 235);
    border: .5px solid lightgray;
    font-weight: bold;
    /* color: red; */
}
.section>.middle>.left>.leftSide>.cartDetails>.remove{
    padding: 3px;
    width: 70px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.Address{
    width: 100%;
    background-color: red;
}

.section>.middle>.right{
    width: 30%;
    margin: 5px;
   
    border-radius: 5px;
    /* position:fixed; */
    display: flex;
    background-color: #fff;
    flex-direction:column;
    max-height: 300px;
   
}
.section>.middle>.right>.amount{
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e0dbdb;
}
.section>.middle>.right>.amount>small{
    color: rgb(142, 142, 142);
    font-size: 17px;
    font-weight: bold;
}
.section>.middle>.right>.amountDetails{
    width: 100%;
    padding: 10px;
    background-color: #fff;
}


.section>.middle>.right>.amountDetails>div{
    width: 85%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.section>.middle>.right>.amountDetails>div>p:nth-child(2){
    /* color: orange; */
    /* text-decoration: ; */
}

.section>.middle>.right>.amountDetails>.checkout{
    width: 100%;
    /* background-color: red; */
    margin-top: 20px;
}
.section>.middle>.right>.amountDetails>.checkout>button{
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
    border-width: 3px;
    border:  .5px solid #fff;
    background-color: rgb(255, 123, 0);
    color: #fff;
    transition: .5s ease all;
    border-radius: 5px;
}
.MobileCart{
    width: 100%;
    display: none;
}

.paymentHead{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.paymentHead >.paymentMid{
    width: 50%;
    padding: 10px;
    background-color: orange;
}
.paymentHead >.paymentMid>.paymentOption{
    width: 30%;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.paymentHead >.paymentMid>.paymentOption>p>input{
    vertical-align: middle;
}
.paymentHead >.paymentMid>.paymentOption>p>label{
    margin-left: 5px;
    vertical-align: middle;
}
@media (max-width:576px) {
    
        .DesktopCart{
            display: none;
        }
        .MobileCart{
            display: flex;
            width: 100% !important;
            position: relative;
            flex-direction: column;;
        }
        .MobileCart> .MobileMiddleCart{
            width: 100% !important;
           
            display: flex;
            justify-content: center;
            flex-direction: column;
            
        }
        .MobileCart> .MobileMiddleCart>.loop{
            width: 95%;
           background-color: #fff;
            display: flex;
            padding: 5px;
            justify-content: space-between;
            margin: 5px;

        }
        .MobileCart> .MobileMiddleCart>.loop>.MobileCartImg{
            width: 35% !important;
            padding: 5px;
            margin-right: 5px;
            object-fit: contain;
            

        }
        .MobileCart> .MobileMiddleCart>.loop>.MobileCartImg img{
            width: 100% !important;
        }
        
        .MobileCart> .MobileMiddleCart>.loop> .CartDetails{
            width:65% !important;
        }
        .loop> .CartDetails>small ,p{
            font-size: 15px;
        }
        .loop> .CartDetails>button{
            margin-top: 10px;
            width: 40px;
            border-radius: 50px;
            margin-right: 5px;
            margin-left: 5px;
            border: none;
            outline: none;
            font-weight: bold;
        }
        .loop> .CartDetails>.remove{
            color: orange;
            background-color: transparent;
            width: 60px;
            margin-left: 5px;
            font-weight: bold;
        }
        .MobileCart>footer{
            background-color: #fff;
            border: .5px solid lightgray;
            padding: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            position:fixed;
            z-index: 111;
        }
        .MobileCart>footer>div{
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin:5px;
        }.MobileCart>footer>div>h4{
            font-size: 18px;
        }
        .MobileCart>footer>div>button{
            width: 130px;
            border: none;
            outline: none;
            background-color: orange;
            padding: 5px;
            border-radius: 5px;
        }
        .popup{
            background-color: #212121;
            color: #fff;
            position: absolute;
            width: 80%;
            top: 70%;
            left: 10%;
            display:flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
}