*{
    margin: 0;
    box-sizing: border-box;

}
header{
    width: 100%;
    background-color: #2874f0;
    display: flex;
    justify-content: center;
}
header>.headMid{
    background-color: orange;
    width: 80%;
}
header>.headMid>img{
    width: 100px;
}