*{
    margin: 0%;
    box-sizing: border-box;
}
.formContainer{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
   
}
.formContainer>.middle{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 5px;
  
}
.formContainer>.middle>.middelEnd{
    width: 40%;
    padding: 30px;
    border: .5px solid lightgray;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.formContainer>.middle>.middelEnd>h3{
    margin-bottom: 20px;
}
.formContainer>.middle>.middelEnd >p{
    text-align: center;
}
.formContainer>.middle>.middelEnd img{
    width: 150px;
}
.formContainer>.middle>.middelEnd>form input{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    outline-color: rgb(154, 233, 255);
    border: 1px solid gray;

}
.formContainer>.middle>.middelEnd>form input[type=submit]{
    background-color: rgb(255, 200, 0);
    border-radius: 15px;
    /* padding: 5px; */
    font-size: 17px;
    outline: none;
    border: none;
    padding: 5px;
    color: #212121;
}
.formContainer>.middle>.phone_width>p span{
    color: rgb(43, 128, 152);
    cursor: pointer;
}




@media (max-width: 576px) {
    .mobileForm{
        width: 100%;
        display: flex;
    }
    .mobileForm>.center{
        width: 100% !important;
        border: .5px solid lightgray;
    }
    .mobileForm>.center>.middelEnd{
        border: none;
    }
   .mobileForm>.center>.phone_width{
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
    }
    .mobileForm>.center>.phone_width>p>img{
        width: 200px;
        margin-top: 10px;
    }
    .mobileForm>.center>.phone_width>form{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .mobileForm>.center>.phone_width>form>p>input{
        
        width: 70%;
        padding: 10px;
        outline: none;
        border-radius: 5px;
        border: .5px solid lightgray;
    }
    .mobileForm>.center>.phone_width>form>p>.inputButton{
        background-color: orange;
    }
}


